@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

/* normal text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:wght@300&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');

/* heading text fontfamily link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@700&family=Libre+Franklin&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,500;1,300&family=PT+Serif&family=Roboto+Serif:wght@300;400&family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@300;400&family=Yellowtail&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 687px;
  margin: auto;
  position: relative;
}
.container{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 7px 2px #cfc9c9;
  font-size: 14px;
  font-family: PT Serif;
  /* flex-direction: row; */
  /* height:fit-content; */
  /* height: 1125px; */
}
.sub-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;

}

.first-div{
  background: linear-gradient(108deg, rgb(1, 15, 31)60%, #207e88 40%);
  display: flex;
  transform: rotate(270deg);
  height: 136px;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1125px;
  position: relative;
  top: 494px;
  right: 494px;
  color: white;
}
.heading-first{
  font-size: 42px;
  position: relative;
  right: 202px;
  font-family: Libre Franklin;
  letter-spacing: 4px;
}
.para-first{
  font-size: 33px;
  position: relative;
  right: -100px;
}
.award1,.award2,.award3{
  display: grid;
  grid-template-columns: 12.5% 1fr;
  column-gap: 20px;
  margin-bottom: 20px;
}
.work-year,.education-year{
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  bottom: 5px;
  right: -15px;
  font-size: 5px;

}
.award-year{
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    bottom: 8px;
    right: -11px;
    font-size: 12px;
    font-weight: bold;
}
.work li{
  list-style: none;

}
.work1,.work2,.work3{
  display: grid;
  grid-template-columns: 12.5% 1fr;
  column-gap: 20px;
  margin-bottom: 20px;
}
.work3{
  margin-bottom: 0;
}
.progress-para{
  margin-top: 15px;
  margin-bottom: 7px;
}
.para-skill1{
  margin-top: 0;
}
.education1,.education2{
  margin-bottom: 20px;
}
.work-year,.education-year{
  position: relative;
  left: 21px;
  top: -2px;
  font-size: 11.9px;
  font-weight: bold;
}
.award-para{
  list-style: none;
  /* margin: 4px; */
}
.award .year{
  font-size: 57px;
}
.education1,.education2{
  display: grid;
  grid-template-columns: 12.5% 1fr;
  column-gap: 20px;
  /* border: 2px solid black; */

}
.education li{
  list-style: none;
}
.progressbar{
  width:100%;
  height: 10px;
  background-color: rgb(1, 15, 31);
  border: 2px solid rgb(1, 15, 31);
  /* margin-bottom: 4px; */
}
.fill{
  background-color: white;
}
.fillprogrss1{
  height: 100%;
  background: linear-gradient(108deg, rgb(242, 244, 247)88%, rgb(1, 15, 31) 40%);
}
.fillprogrss2{
  height: 100%;
  background: linear-gradient(108deg, rgb(242, 244, 247)78%, rgb(1, 15, 31) 40%);
}
.fillprogrss3{
  height: 100%;
  background: linear-gradient(108deg, rgb(242, 244, 247)60%, rgb(1, 15, 31) 40%);
}
.skill-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 40px;
}
.third-div{
  background: linear-gradient(108deg, rgb(1, 15, 31)60%, #207e88 40%);
  display: flex;
  transform: rotate(270deg);
  height: 136px;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1125px;
  position: relative;
  top: 494px;
  right: 494px;
  color: white;
}
.one{
  position: relative;
  right: 198px;
}
.para,.two{
  font-family: PT Serif;
  /* font-size: 14px; */
}
.para{
  position: relative;
  right: -235px;
  width: 60%;
}
.two li{
  list-style: none;
}
.two-li{
  width: 141%;
  position: relative;
  right: 125px;
}
.heading-award,.heading-skills,.heading-projects{
  background: linear-gradient(72deg, rgb(221, 87, 9)60%, white 40%);
}
.heading-work,.heading-education{
  background: linear-gradient(72deg, rgb(221, 87, 9)60%, #f7f4f4 40%); 
}
.heading-certi,.heading-languages,.heading-references{
  background: linear-gradient(72deg, rgb(221, 87, 9)90%, white 40%);
  position: relative;
  right:15px;
}
.work,.education{
  background-color: #f7f4f4;
}
.awards,.education,.work{
  padding: 25px 20px 25px 15px;
  /* font-size: 15px; */
}
.projects{
  padding: 0 30px;
}
.heading-projects{
  position: relative;
  right: 15px;
}
.skill-grid{
  padding-left: 15px;
  margin-right: 15px;
  /* border: 2px solid black; */
  
}
.skills{
  padding: 25px 15px 25px 15px;
  /* font-size: 15px; */
  font-family: PT Serif;
}
.work-li1,.education-li1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 4.8px;
}

.heading-award,.heading-skills,.heading-work,.heading-education,.heading-certi,.heading-languages,.heading-projects,.heading-references{
  color: white;
  padding: 4px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-family: Libre Franklin;
  font-size: 1.1rem;
}


.certi-para1,.certi-para2{
  margin-bottom: 15px;
}
.date{
  font-weight: bold;
  font-size: 13px;
}
.forth-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
  padding: 60px 20px;
}
.p-link{
  color: rgb(103, 103, 218);
  margin-bottom: 10px;
}
.languages .progressbar{
  width: 80%;
}
.p-name{
  font-weight: bold;
}
.project1{
  margin-bottom: 20px;
}
.references li{
  list-style: none;
}
.sub-references1{
  margin-bottom: 15px;
}
.refer-para-one{
  padding-bottom: 5px;
  font-size: 17px;
}
.first-two li{
 list-style: none;
}
.first-two{
  position: relative;
  left: 181px;
}
.uper-name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #207e88;
  font-weight: bold;
}